<footer class="bg-grayDark py-8 md:py-14">
  <div class="container">
    <div class="mb-14 flex flex-col items-center justify-between gap-y-8 gap-x-4 sm:flex-row">
      <img src="./img/logo.webp" alt="Logo" />
      <ul class="flex gap-x-1.5">
        <li class="shrink-0">
          <a href="#" class="bg-gold flex size-[50px] items-center justify-center rounded-full text-black">
            <img src="./img/fb.svg" alt="Facebook" />
          </a>
        </li>
        <li class="shrink-0">
          <a href="#" class="bg-gold flex size-[50px] items-center justify-center rounded-full text-black">
            <img src="./img/insta.svg" alt="Instagram" />
          </a>
        </li>
      </ul>
      <a href="tel:9549370007" class="text-gold font-contax text-lg sm:text-xl">954 937 0007</a>
    </div>
    <p class="text-center text-base">© 2023 Galantis.Us | Designed by <a href="#">Mediacomponents</a></p>
  </div>
</footer>
