@import "../../node_modules/swiper/swiper.scss";
@import "../../node_modules/aos/src/sass/aos.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "fonts";

@layer utilities {
  .bg-gold {
    background: linear-gradient(90deg, #dea035 0%, #f5cf77 100%);
  }
  .text-gold {
    background: linear-gradient(90deg, #dea035 0%, #f5cf77 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
